.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Wix Madefor Display', sans-serif;
  
}
.search{
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
}
.search-bar {
  border: 0px;
  background-color: #EEEEEE;
  border-radius: 5px;
  width: 95%;
  height: 3vh;
  padding: 10px;
}